  @font-face {
    font-family: 'junction';
    src: url('../fonts/Junction-webfont.eot');
    src: url('../fonts/Junction-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Junction-webfont.woff') format('woff'),
         url('../fonts/Junction-webfont.ttf') format('truetype'),
         url('../fonts/Junction-webfont.svg#junctionregularRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
#main{
  position: relative;
  }

body {
 margin:0;
 font-size:100%;
 color:#4c4c4c;
 font-family:Georgia, Garamond, serif;
}

h1, h2, h3 {
  margin-top:0;
  font-family:junction, Helvetica, sans-serif; 
  color:#2f2e46;
  font-weight:normal;
}

h1 {
 font-size:187.5%; /* 30/16*100 */ 
}

.contain {
  width:960px;
  margin:0 auto;
}

/* CLEARFIXes */
#main:after,#also:after,
#search:after,  
body >footer nav:after,
#content ol:last-child, #content:after{
  content:" ";
  display:table;
  clear:both;
  height:0;
}

body > .contain {
  margin:40px auto 20px;
}

a.logo{
    display:block;
    width:225px;
    height:94px;
    background:transparent url(../img/messina_logo.png) top left scroll no-repeat;
    text-indent:-999em;
    margin: 0 auto;
}

hgroup.logo h1,
hgroup.logo h2 {
 margin:0; 
}


/* NAVIGATION */
nav ul {
 margin:0;
 padding:0;
 list-style:none;
}

body > nav {
  border:solid 1px #cfcfcf;
  border-width:1px 0;
  font-family:junction;
  font-size:18px;
  color:#cfcfcf;
}

body > nav ul {
  text-align:center;   
}

body > nav li {
  display:inline;
  margin:0 30px 0 0;
}

body > nav a {
  color:inherit;
  text-decoration:none;
  text-transform:uppercase;
  height:36px;
  display:inline-block;
  line-height:41px;
}

body > nav a:hover {
  color:#2f2e46;
  border-top:solid 3px #2f2e46;
  margin-top:-3px;
}

.contain {
 width:940px;
 margin:0 auto;
}

#main {
  margin-top:40px;
}

/* NAVIGATION HIDING OUTLINES */
nav h1, nav h2 {
  position:absolute;
  top:-999em;
}

/* CONTENT */

#content {
 float:left;
 width:700px;
}

#content section :not(header) {
 -webkit-column-count:2; 
 -webkit-column-width:300px;
 -webkit-column-gap:60px;
 text-align:justify;
}

/* SIDEBAR */

#sidebar {
 float:right;
 width:220px;
}

/* SEARCH */

#search {
 margin-bottom:40px; 
}

#search input {
  height:30px;
  border:solid 1px #d8e3e8;
  background:#fff;
  padding:0;
  box-sizing:border-box;
}

#search input[type=text] {
  width:155px;
  float:left;
}

#search input[type=submit] {
  color:#90989b;
  font-family:junction;
  font-size:75%;
  width:59px;
  text-transform:uppercase;
  float:right;
}

/* SECONDARY NAV */

#sidebar nav.secondary h1 {
  font-size:112.5%;
  border-bottom:solid 1px #b2b1c1;
}

nav.secondary ul {
    color:#aaa9ba;
  }
  
nav.secondary li {
 margin-bottom:20px; 
}
  
nav.secondary a {
  color:inherit; 
  text-decoration:none;
  font-style:italic;
  position:relative;
}

nav.secondary a:hover:before {
  content:"\00BB";
  position:absolute;
  left:-10px;
}
  /***********/
 /* FOOTER */
/*********/
body > footer {
  background: -moz-linear-gradient(top, rgba(0,0,0,0.08) 0, rgba(0,0,0,0) 6px), url(../img/footer_background.png);
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.2) 0, rgba(0,0,0,0) 6px), url(../img/footer_background.png); 
  padding:40px 0;
  border-top: solid 1px #cfcfcf;
}
/*
body >footer > .logo {
  float:right;
}*/

body >footer a.logo {
  width:220px; 
  background-size:100%;
  opacity:.17;
  float:right;
}

body >footer nav ul {
  float:left;
  width:220px;
  margin-right:20px;
}
/* LIST */
/* Relativizer */
ol, #content > ol li, #content ol img {
  position: relative;
}
#content > ol{
  margin: 0;
  padding: 0;
  list-style: none;
  }
  
#content ol li{
  width: 220px;
  height: 220px;
  display: inline-block;
  margin: 0 20px 20px 0;
  float: left;
  } 
#content ol li:nth-of-type(3n) {
  margin-right:0;}

#content ol li a {
  position:absolute;
  display:block;
  height:100%;
  width:100%;
}
#content ol h2{
  font-size: 100%;}

#content ol h2, #content ol p {
  position:absolute;
  top:10px;
  text-align:center;
  margin:0;
  width:100%;
  color:white;
}

#content ol a:hover img {
  z-index:-1;
}
#content li:hover input[type=submit]{
  opacity: 1;
}
#content ol li a:hover{
  background:-webkit-radial-gradient(50% 50%, circle contain, rgba(0,0,0,.08), rgba(0,0,0,.36));
}
#content ol p {
  bottom:24px;
  top: auto;
}
#content ol li input[type=submit]{
  opacity: 0;
  position: absolute;
  top: auto;
  left: 60px;
  bottom: 50px;
  z-index: 1;
  padding: 8px 15px;
  border: none;
  background-color: white;
  text-transform: uppercase;
  font-size: 75%;
  font-family: junction, sans-serif;
  background:-webkit-linear-gradient(50% 50%, circle contain, rgba(0,0,0,.08), rgba(0,0,0,.36));
  box-shadow: 0 1px 2px rgba(0, 0, 0, .28);
  }
  
  
/* Quick View */

#quickview:before{
position: absolute;
content: " ";
width: 20px;
height: 20px;
background-color: white;
-webkit-transform: rotate(-45deg) skew(10deg, 10deg);
top: 93px;
box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.36);
border: 1px solid #9E9E9E;
}
#quickview:after{
position: absolute;
content: " ";
width: 21px;
height: 36px;
background-color: white;
top: 86px;
}

.left:before{
margin-left: -11px;
}
.right:before{
  margin-right: -11px;
  right: 0px;
}

.right:after{
  right:0px;}
  


#quickview {
  display: none;
  width: 460px;
  height: 460px;
  position: absolute;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.36);
  border-radius: 10px;
  z-index: 3;
  background-color: white;
  border: 1px solid #9E9E9E;
  overflow: hidden;
}

#quickview img, #quickview h2, #quickview p, #quickview ul{
  margin: 20px 20px 0 20px;
  }

#quickview h2, #quickview p, #quickview li, #quickview h3{
  font-size: 87.5%;}
  
#quickview ul, .detailtxt ul  {
  list-style: none;
  padding: 0;  
}
#quickview p:nth-of-type(2n){
  position: absolute;
  bottom: 63px;
  right: 42px;
  }
#cart input{
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 120px;
  text-transform: uppercase;
  z-index: 1;
  padding: 8px 15px;
  border: 1px solid #d8e3e8;
  background-color: white;
}
#quickview div{
  width: 420px;
  height: 205px;
  overflow: hidden;
}

#quickview img{
  position: relative;}
  
/* Details Page */
.detailimg figure{
  border: 1px solid #d8e3e8;
  margin: 0;
  height: 380px;
  }
.detailimg > img{
  width: 100%;
  }
.detailimg{
  float: left;
  margin:0;
  padding: 0;
  width: 380px;}
  
.detailimg ul {
  list-style: none;
  width: 380px;
  margin: 0;
  padding: 0;
}
.detailimg ul li{
  float: left;
  margin-right: 20px;
  margin-top: 20px;
}


.detailimg ul li:nth-of-type(5n){
  margin-right:0;
}

.detailtxt{
  width: 300px;
  float: right;
  margin-left: 20px;}

.detailtxt input{
width: 120px;
text-transform: uppercase;
z-index: 1;
padding: 8px 15px;
border: 1px solid #D8E3E8;
background-color: white;
float: right;
margin-top:-5px;}

#price{
  position: relative;
left: 240px;
top: -50px;}

#also{
  list-style: none;
  padding: 0;
  }

#also li{
    float: left;
    margin-right: 20px;
}

#also li:nth-of-type(4n){
  margin-right: 0;
}

/* About */

#showcase{

  height: 313px;
  background: rgb(255,255,255); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmM2YzZjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(243,243,243,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(243,243,243,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f3f3',GradientType=0 ); /* IE6-8 */
  border-bottom: 1px solid #cfcfcf;
  }
#showcase section{
  width: 380px;
  float: right;
  margin-top: 40px;
  }
  
#alth2{
  font-family: Helvetica;
  font-size: 36px;
  font-weight: bold;
  color: #cb2457;
  }
  
#showcase section h2, #showcase section p{
  color: #989898;
  margin-top: 26px;
}
#showcase section h2{
  font-size: 24px;
}
#showcase section p{
  font-size: 18px;
  font-family: junction;
}
#marker{
  position: absolute;
  top: 463px;
  left: 40%;
  }
#marker li {
width: 10px;
height: 10px;
list-style: none;
background-color: #d8d8d8;
text-indent: -9001em;
float: left;
margin-right: 10px;
border-radius: 5px;
-moz-box-shadow:inset 0px 0px 0px 1px rgba(0, 0, 0, 0.4);
-webkit-box-shadow:inset 0px 0px 0px 1px rgba(0, 0, 0, 0.4);
box-shadow:inset 0px 0px 0px 1px rgba(0, 0, 0, 0.4);
}

#marker li:hover{
  background-color: #8a87cb;
} 
