@font-face {
    font-family: 'junctionregularRegular';
    src: url('../fonts/Junction-webfont.eot');
    src: url('../fonts/Junction-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Junction-webfont.woff') format('woff'),
         url('../fonts/Junction-webfont.ttf') format('truetype'),
         url('../fonts/Junction-webfont.svg#junctionregularRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
  margin:0;
  padding:0;
  font-family: Georgia, serif;
}

header, h3{
  font-family: 'junctionregularRegular', sans-serif;
}

body > header hgroup{
  width: 226px;
  height: 98px;
  background: transparent url('../img/messina_logo.png') no-repeat;
  text-indent: -9001em;
  margin: 0 auto;
}
 
body > nav{
  margin-top: 25px;
  border: 1px solid #cfcfcf;
  border-width: 1px 0;
  font-family: 'junctionregularRegular', sans-serif;
  font-size: 18px;
  margin-bottom: -10px;
  padding-top: 0px;
  padding-bottom: 9px;
}


  
body > nav ul{
  text-align: center;
  margin: 0 0 -5px 0;

}

body > nav ul li {;
    display: inline;
    margin-right: 30px;
}

body > nav ul li a {
    color: #cfcfcf;
    text-decoration: none;
    text-transform: uppercase;
    height: 31px;
    display: inline-block;
    line-height: 41px;
    letter-spacing: 1px;
}  

body > nav ul li a:hover {
    color: #2f2e46;
    border-top: 3px solid #2f2e46;
    margin-top: -4px;
}

.content{

  margin: 40px auto 0px auto;
  max-width: 940px;}
  
header, h2{
  margin: 0;
  padding: 0;}


.content section p {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -moz-column-width: 300px; /* Firefox */
  -webkit-column-width: 300px; /* Safari and Chrome */
  column-width: 300px;
    -webkit-column-gap: 56px;
	-moz-column-gap: 56px;
	column-gap: 56px;
  text-align: justify;
  font-size: 16px;
  line-height: 1.3;
  margin-top: 19px;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

h2,h3{
  color: #2f2e46;
  margin-bottom: 0;
}

h2{
  font-size: 30px;
  letter-spacing:2px;

}

h3{
  
  color: #4c4c4c;
  font-size: 20px;
}

  
p{
  color: #4c4c4c;
  font-size: 16px;
}


.content #left{
  width: 700px;
  float: left;
}
#right{
  max-width: 220px;
  float: right;}
  
}

#stylethis{
  color: red;
  font-size: 16px;
  border-bottom: 1px solid #b2b1c1;
}
  
}
#right ul{
  padding: 0;
  margin: 0;
}

#right ul li{
font-family: Georgia, serif;
font-style: italic;
list-style: none;
margin-top: 10px;
color: #aaa9ba;
}
.secondary ul{
  padding: 0;}
  
.secondary ul li {
  margin-bottom: 25px;
}

.secondary ul li a, #footerContent ul li a {
  color: #aaa9ba;
  text-decoration: none;
  display: block;
}

.secondary ul li a:hover:before, #footerContent ul li a  {
  content: "\00bb";
  font-style: normal;
  position: absolute;
  margin: -2px 0 0 -10px;
}

/* 
.hide, #footerContent .hide{
  right: 11px;
  position: relative;
  opacity:0;
  filter:alpha(opacity=0); /* For IE8 and earlier }

#right ul li:hover .hide, #footerContent ul li:hover .hide {
  opacity:1;
  filter:alpha(opacity=100); /* For IE8 and earlier }

#right ul li a, #footerContent ul li a{
  text-decoration: none;
  color: #b2b1c1;}
  
#right ul li:hover, footer ul li:hover{
  position: relative;
  }
*/

input[type=text] {
 border: 1px solid #e0e9ed;
 width: 155px;
 height: 30px;
 padding: 0;
 padding-bottom: 2px; /* cheap trick: how do i fix the alignment? I assume this is a user agent issue*/
 margin: 0;
}

input[type=button] {
 border: 1px solid #e0e9ed;
 width: 58px;
 height: 34px;
 padding: 0;
 margin: 0;
 background: none;
 color: #90989b;
 text-transform: uppercase;
 font-size: 12px;
 font-family: 'junctionregularRegular', sans-serif;

}

#lists li{
  float: left;
}

#lists li .inner-lists li{
  clear: both;
  float: none;
}

/*FOOTER OOOOOOOO


footer{
  height: 262px;
  clear: both;
  background: transparent url('../img/footer_background.png') repeat;
  padding: 0;
  margin: 0;}
  
footer ul{
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-style: italic;
  }
.bottom{
  max-width: 940px;
  margin: 0 auto;
  }
.bottom ul{
    margin-top: 35px;
    padding-top: 35px;
    }
  
  
*/

footer {
    clear: both;
    margin: auto;
    width: 100%;
    height: 260px;
    color: #6d6d6f;
    background: #f1f0fb;
    font-family: Georgia;
    font-size: 14px;
    border-top: 3px solid #cfcfcf;
    margin: 0;
    padding: 0;
}

#footerContent {
    background: url(../img/footerlogo.png) right 35px scroll no-repeat;
    height: 260px;
    margin: 0px auto;
    max-width: 940px;
    display: table-cell;
}



.footer-links {
    float: left;
    margin-right: 105px;
    list-style: none;
    padding-left: 0;
    font-style: italic;
    padding-top: 25px;
}

.footer-links li {
    padding-bottom: 10px;
}

.footer-links a {
    text-decoration: none;
    color: #6d6d6f;
}

.footer-links a:hover {
    color: #000000;
}